@import '../../../../Styles/Library.scss';

body {
    .ant-picker-panel {
        font-family: 'Comfortaa', cursive !important;
        font-weight: 400 !important;
    }
}

body.dark {
    .ant-picker-date-panel, .ant-picker-month-panel, .ant-picker-year-panel, .ant-picker-decade-panel {
        background-color: $dark-container;

        .ant-picker-header {
            .ant-picker-header-super-prev-btn, .ant-picker-header-super-next-btn, .ant-picker-header-next-btn, .ant-picker-header-prev-btn{
                color: $dark-text;
            }

            .ant-picker-header-view {
                color: $dark-text;

                :hover {
                    color: $dark-half-text
                }
            }
        }

        .ant-picker-body {
            .ant-picker-cell {
                color: $dark-half-text
            }

            .ant-picker-cell-in-view{
                color: $dark-text;
            }

            .ant-picker-cell-selected .ant-picker-cell-inner{
                background-color: $dark-button;
            }

            .ant-picker-cell-today .ant-picker-cell-inner::before {
                border-color: $dark-button;
            }

            .ant-picker-content{
                thead tr th {
                    color: $dark-text;
                }

                .ant-picker-cell-disabled{
                    color: $dark-half-text
                }
            }
        }
    }

    .ant-picker-footer {
        background-color: $dark-container;

        a.ant-picker-today-btn {
            color: $dark-text;

            :hover {
                color: $dark-half-text;
            }
        }
    }
}

body.light {
    .ant-picker-date-panel, .ant-picker-month-panel, .ant-picker-year-panel, .ant-picker-decade-panel {
        background-color: $light-container;

        .ant-picker-header {
            .ant-picker-header-super-prev-btn, .ant-picker-header-super-next-btn, .ant-picker-header-next-btn, .ant-picker-header-prev-btn{
                color: $light-text;
            }

            .ant-picker-header-view {
                color: $light-text;

                :hover {
                    color: $light-half-text
                }
            }
        }

        .ant-picker-body {
            .ant-picker-cell {
                color: $light-half-text
            }

            .ant-picker-cell-in-view{
                color: $light-text;
            }

            .ant-picker-cell-selected .ant-picker-cell-inner{
                background-color: $light-button;
            }

            .ant-picker-cell-today .ant-picker-cell-inner::before {
                border-color: $light-button;
            }

            .ant-picker-content{
                thead tr th {
                    color: $light-text;
                }

                .ant-picker-cell-disabled{
                    color: $light-half-text
                }
            }
        }
    }

    .ant-picker-footer {
        background-color: $light-container;

        a.ant-picker-today-btn {
            color: $light-text;

            :hover {
                color: $light-half-text;
            }
        }
    }
}