$dark-text: #EEEEEE;
$dark-half-text: rgba(238, 238, 238, 0.5);
$dark-title: #F9F7F7;
$dark-bg: #222831;
$dark-container: #393E46;
$dark-button: #3F72AF;

$light-text: #393E46;
$light-half-text: rgba(57, 62, 70, 0.5);
$light-title: #222831;
$light-bg: #F9F7F7;
$light-container: #DBE2EF;
$light-button: #91c3ff;