@import "../../../../Styles/Library.scss";

body.dark {
    .ant-dropdown-menu-item-divider {
        background-color: $dark-half-text !important;
    }

    .language-switcher .ant-dropdown-menu-item-selected {
        background-color: $dark-button !important;
    }

    .language-switcher .ant-dropdown-menu-item:hover {
        background-color: $dark-button !important;
    }
}

body.light {
    .ant-dropdown-menu-item-divider {
        background-color: $light-half-text !important;
    }

    .language-switcher .ant-dropdown-menu-item-selected {
        background-color: $light-button !important;
    }

    .language-switcher .ant-dropdown-menu-item:hover {
        background-color: $light-button !important;
    }
}