@import "../../../../Styles/Library.scss";

body {
    .ant-select-item-option {
        font-family: 'Comfortaa', cursive !important;
        font-weight: 400 !important;
    }

    .ant-select-item-empty {
        .ant-empty-description {
            font-family: 'Comfortaa', cursive !important;
            font-weight: 400 !important;
        }
    }

    .ant-select-status-error{
        .ant-select-selector {
            border-color: #ff4d4f !important;
        }
    }
}

body.dark {
    .ant-select-dropdown{
        background-color: $dark-container;

        .ant-select-item-option {
            color: $dark-text;
        }

        .ant-select-item-option-active, .ant-select-item-option-selected {
            background-color: $dark-button;
        }

        .ant-select-item-empty {
            .ant-empty-description {
                color: $dark-text;
            }
        }
    }
}

body.light {
    .ant-select-dropdown{
        background-color: $light-container;

        .ant-select-item-option {
            color: $light-text;
        }

        .ant-select-item-option-active, .ant-select-item-option-selected {
            background-color: $light-button;
        }

        .ant-select-item-empty {
            .ant-empty-description {
                color: $light-text;
            }
        }
    }
}